

.card img{
    height: 400px;
    
}
 h1, h2{
     text-align: center;
 }

 .card-img-top{
     background-color: #E9E5FC;
 }
 .female-clothe, .females {
     background-color: #9D8DF1;
 }
.male-clothes{
    background-color: #C2B8F6;
}

.container-fluid{
    background-color: #9D8DF1;
}
p{
    font-size: medium;
}


 