/* Style the Navbar */
#logo1, #logo2, #logo3{
    border-right: 1px solid black;
    padding-left: 2%;
    padding-right: 2%;
}
#logo4{
    padding-left: 2%;
}

/* Style the Carousel */
.carousel-item img {
    height: 100vh;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
}